
   .container3{
    width:100%;
     background-color:#E6F6DC;
     margin:0;
     padding:220px;
     border-bottom: 1px solid #75B0B8;
     border-left: #C5E2C4; 
     border-right: #C5E2C4;
   }
   
   .container3 h1 {
     font-size: 24px;
     margin: 0;
     font-family:Montserrat,sans-serif;
   
   }
   
   .container3 p {
     margin: 5px 0;
     font-family:Montserrat,sans-serif;
   
   }
 